*{
    box-sizing: border-box;    /*determina cómo se calcula el ancho y la altura de un elemento, contenido, padding, border, margin  */
    margin: 0 ;                /*El espacio entre el elemento y otros elementos.*/
    padding: 0;                /* El espacio entre el contenido y los bordes del elemento.*/
    font-family:Arial, Helvetica, sans-serif ; /*define qué tipo de letra (fuente) se utilizará para el texto dentro de un elemento HTML. */
    background-color: #ecd4ec; /* Es el color del fondo */
}

.contenido h1{
    display: flex;           /*Esto convierte un contenedor en un "flexbox", es decir, un contenedor flexible que te permite alinear y distribuir sus elementos hijos de manera eficiente.*/
    justify-content: center; /* Se usa con flexbox para alinear los elementos horizontalmente en el centro del contenedor.*/
    align-items: center;     /*También se usa con flexbox y alinea los elementos verticalmente en el centro del contenedor*/
    font-family:Georgia, 'Times New Roman', Times, serif; /* Esta propiedad establece la fuente tipográfica del texto.*/
    }

.contenido p {
  text-align:left;          /* Centra el texto hacia la izquierda */
  font-size: 0.9rem;        /* Tamaño del texto más pequeño (ajustable) */
  max-width: 700px;         /* Limita el ancho para mejor lectura */
  margin: 10px auto;        /* Centrado horizontal + separación entre párrafos */
  line-height: 1.6;         /* Mejora la legibilidad */
}

.bloque2clearfix{
  text-align:left;          /* Centra el texto hacia la izquierda */
  font-size: 0.9rem;        /* Tamaño del texto más pequeño (ajustable) */
  max-width: 700px;         /* Limita el ancho para mejor lectura */
  margin: 20px auto;        /* Centrado horizontal + separación entre párrafos */
  line-height: 1.6;         /* Mejora la legibilidad */
  margin-bottom: 50px;      /* Espacio entre bloques */
}

.bloque1 {
    text-align: center;     /* se usa para centrar horizontalmente el texto (y elementos en línea) dentro de un contenedor */
    margin-bottom: 50px;    /* Espacio entre bloques */
}

.bloque3{
    text-align: center;     /* se usa para centrar horizontalmente el texto (y elementos en línea) dentro de un contenedor */
    margin-bottom: 50px;    /* Espacio entre bloques */
}

.bloque4{
    text-align:center;     /* se usa para centrar horizontalmente el texto (y elementos en línea) dentro de un contenedor */
}
