*{
    box-sizing: border-box; /*determina cómo se calcula el ancho y la altura de un elemento, contenido, padding, border, margin  */
    margin: 3px; /*El espacio entre el elemento y otros elementos.*/
    padding: 0; /* El espacio entre el contenido y los bordes del elemento.*/
    font-family:Arial, Helvetica, sans-serif ; /*define qué tipo de letra (fuente) se utilizará para el texto dentro de un elemento HTML. */
}
.main-nav{ 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    cursor: pointer;
    font-weight: bold;
}
.main-nav-logo {
    order: 1;
    padding-right: 500px;
}
nav{
    order: 2;
}
.main-nav-menu{
    list-style: none;
    display: flex;
    align-items: end;
}
.main-imagen{
    background-image: url(/Images/foto-fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 700px;
    
}
    


    

